$container-width: $row-width+5rem;

$container-mq: "#{$screen} and (min-width:#{$container-width})";

body {
	background-color: gainsboro;
	@media #{$container-mq} {
		background-color: $body-bg;
	}
}

.container {
	margin-left: auto;
	margin-right: auto;
	max-width: $container-width;
	background-color: gainsboro;
	@media #{$container-mq} {
		box-shadow: 0 0 1px 0px rgba(black, 0.2);
	}
}

.site-logo {
	display: block;
	max-width: 20rem;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	@media #{$small-only} {
		margin-left: auto;
		margin-right: auto;
	}
}

.site-main {
	@extend .clearfix;
	display: block;
	background-color: white;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.site-header {
	background-color: white;
}

.site-footer {
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
	hr {
		border: solid rgba(black, 0.2);
		border-width: 1px 0 0;
	}
	@media #{$small-only} {
		&, p, ul, ol {
			font-size: 0.8rem;
		}
	}
}

.page-block {
	margin-left: auto;
	margin-right: auto;
	padding-left: $column-gutter/2;
	padding-right: $column-gutter/2;
	max-width: $row-width;
}

h1 {
	color: $secondary-color;
	font-family: "jaf-bernina-sans-condensed",sans-serif;
	font-style: normal;
	font-weight: 800;
}

.subheading {
	@extend h4;
	margin-top: 2rem;
	// margin-bottom: 1rem;
}

.block-subheading {
	@extend h5;
}

.section-block {
	&:not(.first) {
		border-top: 1px solid $iron;
	}
	margin-top: 1rem;
    margin-bottom: 1rem;
    > .side-nav li a:not(.button) {
		padding-left: 0;
		&:focus, &:hover {
			background: none;
		}
    }
}

.section-subheading {
	@extend h3;
	color: $secondary-color;
	text-transform: none;
	font-family: "gooddog-new", 'Noteworthy-Bold',cursive;
	font-style: normal;
	font-weight: 400;
	padding-top: 0.5rem;
	
	&.first {
		padding-top: 0;
		margin-top: 0;
	}
}

.section-lead {
	color: white;
	padding-bottom: 1rem;
	background-color: black;
	background-image: url("../images/mountain2.jpg");
	background-repeat: no-repeat;
	background-position: center top;
	background-size: 120% auto;
	$image-size: (745/1475) * 100%;
	padding-top: calc(#{$image-size} + 1rem);
	.section-subheading {
		@extend h3;
		color: $secondary-color;
		text-transform: none;
		font-family: "gooddog-new", 'Noteworthy-Bold',cursive;
		font-style: normal;
		font-weight: 400;
	}

	// @media #{$screen} and (min-width:480px) {
	// 	padding-top: calc(#{$image-size} - 5rem);
	// 	padding-left: 33.3333333%;
	// }
	
	
	
	@media #{$screen} and (min-width:768px) {
		padding-top: calc(#{$image-size} - 4rem);
		padding-left: 50%;
	}
	@media #{$large-up} {
		// .page-block max-width
		padding-left: 0;
		padding-right: 0;

		padding-top: 2rem;
		box-shadow: 1px 1px 30px inset #FFF;
		padding-bottom: 12rem;
		background-size: 100% auto;
		background-position: center top;
		color: black;
		.page-block {
			padding-right: 35rem;
		}
	}
}

.container-small {
	@media #{$large-up} {
		background-color: rgba(white, 0.9);
    padding: 1rem;
    box-shadow: 1px 1px 30px rgba(black, 0.2);

	}
}

.section-list {
	> li {
		//border-top: 1px solid $iron;
		padding-top: .25rem;
		padding-bottom: .25rem;
	}
}

.small-note {
	margin-top: 1rem;
}

.contact-numbers {
	> li {
		margin-left: 0;
		&:not(:first-child):not(.address):before {
			content: "|";
			margin-left: 0.5rem;
			padding-right: 0.5rem;
		}
		> a {
			display: inline;
		}
		&.address {
			.line-1 {
				@media #{$large-up} {
					display: inline;
				}
			}
			margin-top: 1rem;
			width: 100%;
			&:before {
				content: "";
				margin-left: 0;
				padding-right: 0;
			}
			@media #{$large-up} {
				margin-top: 0;
				width: auto;
				&:before {
					content: "|";
					margin-left: 0.5rem;
					padding-right: 0.5rem;
				}
			}
		}
	}
}


// Pages

.page-home {
	.site-main {
		padding-top: 0;
	}
}



