.container {
	margin-left: auto;
	margin-right: auto;
	max-width: $row-width+20rem;
	box-shadow: 0 0 1px 0px rgba(black, 0.2);
	background-color: gainsboro;
}

.site-logo {
	display: block;
	max-width: 20rem;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	@media #{$small-only} {
		margin-left: auto;
		margin-right: auto;
	}
}

.site-main {
	@extend .clearfix;
	display: block;
	background-color: white;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.site-header {
	background-color: white;
}

.site-footer {
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
	hr {
		border: solid rgba(black, 0.2);
		border-width: 1px 0 0;
	}
}

.page-block {
	margin-left: auto;
	margin-right: auto;
	padding-left: $column-gutter/2;
	padding-right: $column-gutter/2;
	max-width: $row-width;
}

h1 {
	font-family: "jaf-facitweb",sans-serif;
	font-style: normal;
	font-weight: 200;
}

.subheading {
	@extend h4;
	margin-top: 2rem;
	// margin-bottom: 1rem;
}

.block-subheading {
	@extend h5;
}

.section-block {
	&:not(.first) {
		border-top: 1px solid $iron;
	}
	margin-top: 1rem;
    margin-bottom: 1rem;
    > .side-nav li a:not(.button) {
		padding-left: 0;
		&:focus, &:hover {
			background: none;
		}
    }
}

.section-subheading {
	@extend h5;
	text-transform: uppercase;
	padding-top: 0.5rem;
	color: $steel;
	&.first {
		padding-top: 0;
		margin-top: 0;
	}
}

.section-lead {
	background: black url("http://placehold.it/1600x480/000000/333333/?text=folder+mountain+photo") center top no-repeat;
	background-size: 100% auto;
	color: white;
	padding-top: 10rem;
	padding-bottom: 1rem;
	.section-subheading {
		@extend h3;
		color: $secondary-color;
		text-transform: none;
		font-family: "gooddog-new",cursive;
		font-style: normal;
		font-weight: 400;
	}
	@media #{$medium-up} {
		padding-top: 20rem;
	}
	@media #{$large-up} {
		padding-top: 7rem;
		padding-bottom: 3rem;
		.page-block {
			padding-left: 30rem;
		}
	}
}

.section-list {
	> li {
		//border-top: 1px solid $iron;
		padding-top: .25rem;
		padding-bottom: .25rem;
	}
}

.small-note {
	margin-top: 1rem;
}

.contact-numbers {
	> li {
		margin-left: 0;
		&:not(:first-child):not(.address):before {
			content: "|";
			margin-left: 0.5rem;
			padding-right: 0.5rem;
		}
		&.address {
			.line-1 {
				@media #{$large-up} {
					display: inline;
				}
			}
			margin-top: 1rem;
			width: 100%;
			&:before {
				content: "";
				margin-left: 0;
				padding-right: 0;
			}
			@media #{$large-up} {
				margin-top: 0;
				width: auto;
				&:before {
					content: "|";
					margin-left: 0.5rem;
					padding-right: 0.5rem;
				}
			}
		}
	}
}

// Pages

.page-home {
	.site-main {
		padding-top: 0;
	}
}



